The Fake-or-Real Dataset /
FoR reduced dataset/
app.py
audio_cnn.pth
crnn_reduced_hypertuned.pth
crnn_best.pth
resnet50_best.pth       
resnet101_best.pth
resnet101_reduced.pth
resnet50_best_reduced.pth
vgg16_best.pth
efficientnet_b0_best.pth
mobilenetv3_best.pth
resnet18_best_reduced.pth
simple_cnn_reduced_hypertuned.pth
simple_cnn_reduced.pth
Wave2Vec_model.pth
ResNet_101.pth
crnn_best_reduced.pth
research papers/
Review 1.pptx
Forensic Analysis using deep learning.docx
.DS_Store